<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.boardver3.board.BoardMapper">

    <!-- 보드 작성 -->
    <insert id="postBoard"
            keyProperty="boardId"
            useGeneratedKeys="true">    <!-- insert 하면서 pk값 가져오기 -->
        INSERT board
        SET title = #{title}
        , contents = #{contents}
        , writer_id = #{writerId}
    </insert>

    <select id="getBoardList">    <!-- 보드 리스트 (페이징) -->
        SELECT board_id AS boardId, title, contents, writer_id AS writerId, hits, created_at AS createdAt, updated_at AS updatedAt
        FROM board
        ORDER BY board_id DESC
        LIMIT #{startIdx}, #{len}
    </select>

    <select id="getBoardOne">    <!-- 보드 한개만 가져오기 -->
        SELECT board_id AS boardId, title, contents, writer_id AS writerId, hits, created_at AS createdAt, updated_at AS updatedAt
        FROM board
        WHERE board_id = #{boardId}
    </select>

    <update id="hitsUp">    <!-- 조회수 증가 -->
        UPDATE board
        SET hits = hits + 1
        WHERE board_id = #{boardId}
    </update>
    
    <update id="putBoard">    <!-- 게시글 수정 -->
        UPDATE board
        <set>
            <if test="title != null and title != ''">
                , title = #{title}
            </if>
            <if test="contents != null and contents != ''">
                , contents = #{contents}
            </if>
        </set>
        WHERE board_id = #{boardId}
            AND writer_id = #{writerId}
    </update>

    <delete id="delBoard">    <!-- 게시글 삭제 -->
        DELETE FROM board
        WHERE board_id = #{boardId}
            AND writer_id = #{writerId}
    </delete>



</mapper>